# Dépendances
node_modules/
.next/
**/node_modules/
**/.next/

# Environnement et configuration
.env*
.env.local
.env.development
.env.production

# Système et IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cache
.npm
.cache
.eslintcache
.stylelintcache

# Contrôle de version
.git
.gitignore

# Build
dist/
build/
out/

# Tests
coverage/
.nyc_output/