@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-deep-blue: #000033;
  --color-midnight-blue: #191970;
  --color-royal-blue: #4169e1;
  --color-electric-blue: #00ffff;

  /* shadcn/ui variables */
  --background: 220 100% 2%;
  --foreground: 0 0% 98%;
  --card: 220 100% 2%;
  --card-foreground: 0 0% 98%;
  --popover: 220 100% 2%;
  --popover-foreground: 0 0% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 0 0% 98%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 0 0% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --radius: 0.5rem;

  --color-warrior: #c79c6e;
  --color-paladin: #f58cba;
  --color-hunter: #abd473;
  --color-rogue: #fff569;
  --color-priest: #ffffff;
  --color-death-knight: #c41f3b;
  --color-shaman: #0070de;
  --color-mage: #69ccf0;
  --color-warlock: #9482c9;
  --color-monk: #00ff96;
  --color-druid: #ff7d0a;
  --color-demon-hunter: #a330c9;
  --color-evoker: #33937f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-deep-blue),
    var(--color-midnight-blue)
  );
}

.bg-gradient-dark {
  background: linear-gradient(180deg, #2e2f2f 0%, #050607 100%);
}

.border-gradient-dark {
  border: 4px solid linear-gradient(180deg, #2e2f2f 0%, #050607 100%);
}

.bg-deep-blue {
  background-color: #001830;
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #182b5f, #43168a);
}

.bg-gradient-blue {
  background: linear-gradient(
    135deg,
    var(--color-royal-blue),
    rgba(9, 32, 85, 1)
  );
}

.text-gradient-glow {
  background: linear-gradient(
    to right,
    var(--color-royal-blue),
    var(--color-electric-blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 10px rgba(65, 105, 225, 0.5);
}

.glow-effect {
  box-shadow: 0 0 15px rgba(65, 105, 225, 0.5);
}

.hover-glow:hover {
  text-shadow: 0 0 10px var(--color-electric-blue);
}

/* Class colors */

/* Priest */
.class-color--795 {
  color: #fff !important;
}

.class-color--priest {
  color: #fff !important;
}

.bg-spec-256 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-priest-discipline.jpg");
}

.bg-spec-257 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-priest-holy.jpg");
}

.bg-spec-258 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-priest-shadow.jpg");
}

/* Death Knight */
.class-color--750 {
  color: #c41f3b !important;
}

.class-color--death-knight {
  color: #c41f3b !important;
}

.bg-spec-250 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-death-knight-blood.jpg");
}

.bg-spec-251 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-death-knight-frost.jpg");
}

.bg-spec-252 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-death-knight-unholy.jpg");
}

/* Evoker */
.class-color--872 {
  color: #33937f !important;
}

.class-color--evoker {
  color: #33937f !important;
}

.bg-spec-1467 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-evoker-devastation.jpg");
}

.bg-spec-1468 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-evoker-preservation.jpg");
}

.bg-spec-1473 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-evoker-augmentation.jpg");
}

/* Warrior */
.class-color--850 {
  color: #c79c6e !important;
}

.class-color--warrior {
  color: #c79c6e !important;
}

.bg-spec-71 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warrior-arms.jpg");
}

.bg-spec-72 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warrior-fury.jpg");
}

.bg-spec-73 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warrior-protection.jpg");
}

/* Druid */
.class-color--793 {
  color: #ff7d0a !important;
}

.class-color--druid {
  color: #ff7d0a !important;
}

.bg-spec-102 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-druid-balance.jpg");
}

.bg-spec-103 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-druid-feral.jpg");
}

.bg-spec-104 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-druid-guardian.jpg");
}

.bg-spec-105 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-druid-restoration.jpg");
}

/* Warlock */
.class-color--720 {
  color: #9482c9 !important;
}

.class-color--warlock {
  color: #9482c9 !important;
}

.bg-spec-265 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warlock-affliction.jpg");
}

.bg-spec-266 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warlock-demonology.jpg");
}

.bg-spec-267 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-warlock-destruction.jpg");
}

/* Monk */
.class-color--1000 {
  color: #00ff96 !important;
}

.class-color--monk {
  color: #00ff96 !important;
}

.bg-spec-268 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-monk-brewmaster.jpg");
}

.bg-spec-270 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-monk-mistweaver.jpg");
}

.bg-spec-269 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-monk-windwalker.jpg");
}

/* Demon Hunter */
.class-color--854 {
  color: #a330c9 !important;
}

.class-color--demon-hunter {
  color: #a330c9 !important;
}

.bg-spec-577 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-demon-hunter-havoc.jpg");
}

.bg-spec-581 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-demon-hunter-vengeance.jpg");
}

/* Shaman */
.class-color--786 {
  color: #0070de !important;
}

.class-color--shaman {
  color: #0070de !important;
}

.bg-spec-262 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-shaman-elemental.jpg");
}

.bg-spec-263 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-shaman-enhancement.jpg");
}

.bg-spec-264 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-shaman-restoration.jpg");
}

/* Paladin */
.class-color--790 {
  color: #f58cba !important;
}

.class-color--paladin {
  color: #f58cba !important;
}

.bg-spec-65 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-paladin-holy.jpg");
}

.bg-spec-66 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-paladin-protection.jpg");
}

.bg-spec-70 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-paladin-retribution.jpg");
}

/* Hunter */
.class-color--774 {
  color: #abd473 !important;
}

.class-color--hunter {
  color: #abd473 !important;
}

.bg-spec-253 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-hunter-beast-mastery.jpg");
}

.bg-spec-254 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-hunter-marksmanship.jpg");
}

.bg-spec-255 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-hunter-survival.jpg");
}

/* Rogue */
.class-color--852 {
  color: #fff569 !important;
}

.class-color--rogue {
  color: #fff569 !important;
}

.bg-spec-259 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-rogue-assassination.jpg");
}

.bg-spec-260 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-rogue-outlaw.jpg");
}

.bg-spec-261 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-rogue-subtlety.jpg");
}

/* Mage */
.class-color--658 {
  color: #69ccf0 !important;
}

.class-color--mage {
  color: #69ccf0 !important;
}

.bg-spec-62 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-mage-arcane.jpg");
}

.bg-spec-63 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-mage-fire.jpg");
}

.bg-spec-64 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://wow.zamimg.com/images/tools/dragonflight-talent-calc/blizzard/talentbg-mage-frost.jpg");
}

/* Item Quality */
.item-quality--4 {
  color: #a335ee;
}

.item-quality--3 {
  color: #0070ff;
}

.item-quality--2 {
  color: #1eff00;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
