@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-deep-blue: #000033;
  --color-midnight-blue: #191970;
  --color-royal-blue: #4169e1;
  --color-electric-blue: #00ffff;

  /* shadcn/ui variables */
  --background: 220 100% 2%;
  --foreground: 0 0% 98%;
  --card: 220 100% 2%;
  --card-foreground: 0 0% 98%;
  --popover: 220 100% 2%;
  --popover-foreground: 0 0% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 0 0% 98%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 0 0% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--color-deep-blue),
    var(--color-midnight-blue)
  );
}

.bg-gradient-dark {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}

.bg-deep-blue {
  background-color: #001830;
}

.bg-gradient-purple {
  background: linear-gradient(135deg, #22397a, #532f76, #5438b3);
}

.bg-gradient-blue {
  background: linear-gradient(
    135deg,
    var(--color-royal-blue),
    rgba(65, 105, 225, 0.5)
  );
}

.text-gradient-glow {
  background: linear-gradient(
    to right,
    var(--color-royal-blue),
    var(--color-electric-blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 10px rgba(65, 105, 225, 0.5);
}

.glow-effect {
  box-shadow: 0 0 15px rgba(65, 105, 225, 0.5);
}

.hover-glow:hover {
  text-shadow: 0 0 10px var(--color-electric-blue);
}

.class-color--795 {
  color: #fff !important;
}

.class-color--750 {
  color: #c41f3b !important;
}

.class-color--872 {
  color: #33937f !important;
}

.class-color--850 {
  color: #c79c6e !important;
}

.class-color--793 {
  color: #ff7d0a !important;
}

.class-color--720 {
  color: #9482c9 !important;
}

.class-color--1000 {
  color: #00ff96 !important;
}

.class-color--854 {
  color: #a330c9 !important;
}

.class-color--786 {
  color: #0070de !important;
}

.class-color--790 {
  color: #f58cba !important;
}

.class-color--774 {
  color: #abd473 !important;
}

.class-color--852 {
  color: #fff569 !important;
}

.class-color--658 {
  color: #69ccf0 !important;
}

.item-quality--4 {
  color: #a335ee;
}

.item-quality--3 {
  color: #0070ff;
}

.item-quality--2 {
  color: #1eff00;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
