@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-deep-blue: #000033;
  --color-midnight-blue: #191970;
  --color-royal-blue: #4169e1;
  --color-electric-blue: #00ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    135deg,
    var(--color-deep-blue),
    var(--color-midnight-blue)
  );
  color: white;
  min-height: 100vh;
}

.text-gradient-glow {
  background: linear-gradient(
    to right,
    var(--color-royal-blue),
    var(--color-electric-blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 10px rgba(65, 105, 225, 0.5);
}

.glow-effect {
  box-shadow: 0 0 15px rgba(65, 105, 225, 0.5);
}

.hover-glow:hover {
  text-shadow: 0 0 10px var(--color-electric-blue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
