# Environment variables
.env
backend/.env
frontend/.env
./docker-compose.yml  # Ignorer seulement à la racine

# Certificates
/certs/*.key
/certs/*.crt
/certs/*.pem
/certs/

# Dev environment
/deploy/local/traefik/tls.yml
/deploy/local/certs/