# Environment variables
.env
backend/.env
frontend/.env
docker-compose.yml

# But keep the examples
!.env.example
!backend/.env.example
!frontend/.env.example

# Certificats
certs/*.key
certs/*.crt
certs/*.pem
certs/

# Traefik
traefik/
traefik/tls.yml

